body {
    background: rgb(226, 16, 17);
    background: radial-gradient(circle, rgba(226, 16, 17, 1) 0%, rgba(19, 1, 2, 1) 100%);
}

.text-container {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #fff;
    font-size: 150px;
    font-weight: bold;
}

.btn-counter {
    height: 70px;
    width: 150px;
    font-weight: 100px;
    border: none;
    border-radius: 10px;
    margin: 0 30px;
    font-size: 50px;
}

.btn-counter:hover {
    background-color: #000;
    color: #fff;
}

.btn-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 50vh;
}